{% extends 'base.html.twig' %}

{% block title %}
Mon organiseur
{% endblock %}

{% block body %}
<div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold">My home organisation</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Ce site est un projet pour apprendre Symfony 6. 
      C'est un moyen de s'organiser quand on veux une vie administrative plus simple.
      Pour utiliser le site vous devez vous inscrire.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">S'inscrire</button>
      </div>
    </div>
  </div>
{% endblock %}

